@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


:root {
  --main-system-color: #1e4b8f;
  --slider-width: 350px;
  --action-top-bar-height: 55px;
  --border-width-bold: 3px;
}

.form-message {
  text-align: center;
  margin: 0 0 0 0;
}

.bg-semi-dark {
    background-color: #343a40;
}

.h-55-px {
    height: 55px !important;
    min-height: 55px !important;
}

.font-size-0-9-rem {
    font-size: 0.9rem !important;
}

.font-size-0-75-rem {
    font-size: 0.75rem !important;
}

.font-size-1-rem {
    font-size: 1rem!important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.h-100-vh {
    height: 100vh;
}

.h-100 {
    height: 100% !important;
}

.cursor-pointer {
    cursor: pointer;
}

.border-main-bold {
    border-color: var(--main-system-color) !important;
    border-width: var(--border-width-bold) !important;
}

.background-main {
    background-color: var(--main-system-color) !important;
}

.w-55-px {
    width: 55px !important;
}

.w-80 {
    width: 80% !important;
}

.w-75 {
    width: 75% !important;
}

.w-25 {
    width: 25% !important;
}

.translate-y-n1-on-hover:hover {
    transform: translateY(-1px);
}